.about-page-banner {
  background-image: url(../img/Home/Images/resort-carousel-3-dark.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: -11rem;
}

.banner_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner_heading h2 {
  font-size: 3rem;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.first_section_heading {
  margin-right: 4rem;
}

.first_section_heading h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4;
}

.first_section_heading p {
  font-size: 1rem;
  line-height: 1.8;
}

.first_section_image img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.intro_text {
  background-color: var(--solid);
  color: var(--white);
  padding: 3rem 3rem;
  line-height: 1.2;
  margin-top: 5%;
  margin-left: -5%;
  height: 50%;
}

.intro_text p {
  font-size: 1rem;
  font-family: "Poppins";
  text-transform: uppercase;
}

.intro_text small {
  font-size: 1rem;
  line-height: 1.8;
}

.feature-text {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 500;
  margin-top: 2rem;
}

.question_line {
  display: none;
  border-bottom: 2px solid var(--secondary);
  width: 200px;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 10px;
  text-align: center;
}

.second_section {
  margin-top: 8rem;
}

.second_section_heading h4 {
  display: none;
  font-size: 4rem;
  color: var(--solid);
}

.second_section h3 {
  font-size: 4rem;
  color: var(--solid);
}

.second_section h3:first-of-type {
  margin-top: 3rem;
}

.second_section p {
  font-size: 0.9rem;
  color: var(--solid);
  text-align: center;
  padding: 1rem;
  margin-left: -3rem;
  width: 95%;
}

.second_section p:first-of-type {
  margin-top: 3rem;
}

.second_section_image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.third_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

.third_section_heading {
  text-align: left;
}

.third_section_heading h3 {
  font-size: 2.4rem;
  font-weight: 500;
  width: 100%;
}

.under_line {
  border-bottom: 2px solid var(--secondary);
  width: 200px;
  margin-bottom: 1rem;
}

.number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
}

.about-us-numbers {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.about-us-numbers div {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 12rem;
  height: 6rem;
  background-color: var(--secondary);
  padding: 1rem 2rem;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.numbers-container p {
  margin-bottom: 0;
  color: #fff;
  /* margin-left: -1rem; */
}

.numbers {
  font-size: 2.6rem;
  color: #fff;
}

@media (max-width: 1400px) {
  .first_section_heading {
    margin-right: 2rem;
  }

  .first_section_heading h3 {
    font-size: 2.5rem;
  }
  .intro_text {
    padding: 3rem 4rem 2rem 3rem;
  }
}

@media (max-width: 1200px) {
  .first_section_heading {
    margin-right: 0;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .question_line {
    display: block;
    border-bottom: 2px solid var(--secondary);
    width: 200px;
    margin-bottom: 1rem;
    margin-top: 8px;
  }

  .first_section_heading h3 {
    font-size: 2.5rem;
  }

  .first_section_heading p {
    text-align: left;
  }

  .first_section_image img {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }

  .first_section_image {
    padding: 0;
  }

  .intro_text {
    padding: 2rem 4rem;
    width: 100%;
    font-size: 2rem;
    margin-top: 0;
    margin-left: 0%;
    text-align: center;
  }

  .second_section {
    margin-top: 4rem;
  }

  .second_section_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .second_section_heading h4 {
    display: block;
    font-size: 2rem;
  }

  .second_section h3 {
    display: none;
  }

  .second_section p:first-of-type {
    margin-top: 0rem;
  }

  .second_section p {
    padding: 0;
    margin: auto;
    margin-bottom: 2rem;
  }

  .third_section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }

  .third_section_heading h3 {
    font-size: 1.6rem;
    font-weight: 500;
    width: 80%;
    text-align: center;
    margin: -5rem auto 1rem auto;
  }

  .third_section_heading p {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }

  .under_line {
    margin: auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 992px) {
  .about-us-page-banner {
    line-height: 250px;
  }

  .about-us-page-banner div {
    font-size: 2.5rem;
  }

  .first_section_image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .intro_text {
    font-size: 1.4rem;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .second_section h3 {
    font-size: 1.4rem;
    padding-right: 1rem;
  }
}

@media (max-width: 576px) {
  .about-us-page-banner {
    line-height: 200px;
  }

  .about-us-page-banner div {
    font-size: 1.8rem;
  }

  .first_section_heading h3 {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .first_section_image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .intro_text {
    font-size: 1.4rem;
    padding: 1.5rem;
    margin-bottom: 0;
  }

  .intro_text p {
    margin-bottom: 0;
  }

  .third_section_heading p {
    text-align: left;
  }

  .second_section h3 {
    font-size: 1rem;
    padding-right: 0rem;
  }

  .second_section_heading h4 {
    font-size: 1.3rem;
  }

  .feature-text {
    font-size: 0.8rem;
  }
}
