.location-page-banner {
  background-image: url(../img/Contact-Us/Images/location-banner-1.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: -11rem;
}

.banner_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner_heading h2 {
  font-size: 3rem;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.outdoor-title {
  display: table;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  background: linear-gradient(#d2a765, #d2a765) bottom / 40% 3px no-repeat;
}

.location-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}

.location-image img {
  width: 100%;
}

.location-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.location-text p {
  font-size: 1.2rem;
  color: var(--primary);
}

.location-text b {
  font-size: 1.4rem;
  color: var(--primary);
  font-family: "Poppins";
}

.address_map {
  margin-top: 2rem;
  width: 100%;
  height: 27rem;
}

@media (max-width: 1200px) {
  .location-page-banner {
    height: 70vh;
  }

  .location-image img {
    height: 50rem;
  }

  .location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .location-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 992px) {
  .location-page-banner {
    height: 50vh;
    margin-top: 0rem;
  }
}

@media (max-width: 768px) {
  .location-page-banner {
    height: 40vh;
  }

  .location-image img {
    width: 100%;
    height: 40rem;
  }

  .location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .location-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 568px) {
  .location-page-banner {
    height: 25vh;
  }

  .location-image img {
    width: 100%;
    height: 25rem;
  }

  .location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .location-text {
    width: 90%;
    margin-top: 1rem;
  }

  .location-text p {
    font-size: 1rem;
  }

  .location-text b {
    font-size: 1rem;
  }

  .address_map {
    margin-top: 2rem;
    width: 100%;
    height: 20rem;
  }
}
